

.cards{
    margin-left: 10em;
    width: 30%;
    border: 1px solid;
    margin-bottom: 5em;
    border-radius: 2%;
    background-color: #f7f5f5;
}
.title{
    margin-left: 8em;
    margin-bottom: 2em;
    color: white;
}
.cardsI{
    padding: 3em;
}

.Nav_bar{
    background-color: #001f4f;
}

.overlay{
    display: table;
	width: 100%;
	padding: 0;
    background: url(./cdmx.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color: #e5e5e5;
}